.title{
	text-align: center;
	color: #ff0000;
}
.text{
	color: #00ad00;
}
.section{
	fillColor: color;
	strokeColor: color;
	strokeWeight: 2;
	background: #000;
	color: #0f0;
}
.item{
	list-style-type: square;
}

.warning{
	background-color: #fff3d9;
	padding: 10px;
}
.menu{
	color: #00ad00;
}
.help{
	background-color: #fff3d9;
	padding: 10px;	
}
.image{
	width: 128px;
	border-radius: 50%;	
	border: 3px #0075c9 solid;
}
.width100{
	width: 13%;
	height: auto;
	vertical-align: middle;
}
.square{
	list-style-type: square;
}
.none{
	list-style-type: none;
}
.img{
		list-style-image: url("book.png"); 
}
.upper-roman{
	list-style-type: upper-roman;
}
.lower-greek{
	list-style-type: lower-greek;
}
.padding_left{
	padding: 0px 0px 0px 10px;
}
.color li{
	color: #850037;
}
.padding{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}

.dashed a{
	border-bottom: dashed;
	background: #005e6e;
	color: #ffffff;
}

.double a{
	border-bottom: double;
	background: #00414d;
	color: #ffffff;
}
.border a{
	padding: 3px;
	border: 1px #00414d solid;
}
.background table{
	width: 100%;
	background: #ffd6a1;
}
.background caption{
	text-align: right;
	font-style: italic;
}
.width80 table{
	width: 80%;
	margin: auto;
	border: 1px #333 solid;
}
.table2 table{ 
    width: 100%; 
    background-color: #496791; 
    color: #ffffff; 
} 
.table2 caption{ 
    color: #008000; 
}
.table3 td{
	background-color: #ececec;
	padding: 0.5rem;
}
.table4 table{
	border-spacing: 4px;
}
.table4 td{
	background-color: #4c715b;
	padding: 4px;
}
.table5 table{
	width: 80%;
	margin: auto;
	border: 2px #0075c9 solid;
}
.table6 table{
	border-collapse: collapse;
}
.table6 td{
	padding: 0.5rem;
	border: 2px #00ad00 solid;
}
.table7 table{
	border-collapse: collapse;
	width: 100%;
}
.table7 td{
	padding: 0.5rem;
	border-top: 1px #850037 solid;
	border-bottom: 1px #450085 solid;
}
.table8 table{
	width: 90%;
	margin: auto;
}
.table8 td{
	padding: 0.5rem;
	text-align: center;
	border: 1px #000 solid;
}