.title{
	text-align: center;
	color: red;
}
.text{
	color: green;
}
.section{
	fillColor: color;
	strokeColor: color;
	strokeWeight: 2;
	background: #000;
	color: #0f0;
}
.item{
	list-style-type: square;
}
