body{
    background-color: #162831;
    color: #ffffff;
    line-height: 1.4;
}
.container{
    max-width: 1298px;
    margin: 0px auto;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__image{
    background-image: url(img/logo.svg);
    width: 60px;
    height: 60px;
}
.logo__sub-image{
    width: 32px;
    height: 22px;
    padding: 14px;
}
.nav{
    width: 655px;
}
.nav__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__link{
    color: #ffffff;
    text-decoration: none;
}
.button{
    width: 155px;
    height: 36px;
    border: none;
    border-radius: 3px;
    background-color: #018ABE;
    color: #ffffff;
    font-size: 12px;
}
.header__line{
    margin-top: 30px;
}
.title{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
    font-family: "El Messiri";
    font-weight: bold;
}
.title__text{
    margin: 0px;
    font-size: 42px;
}
.news{
    margin: 0px;
}
.news__title{
    margin: 60px;
}
.news__box{
    font: "El Messiri";
    font-size: 21px;
    font-weight: bold;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 416px);
    grid-template-rows: repeat(3,258px);
}
.news__item{
    padding: 30px 0px 30px 36px;
    background-image: url(img/seans_small.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__data{
    width: 96px;
    height: 30px;
    font-size: 14px;
    background-color: #018ABE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.footer__line{
    margin-bottom: 30px;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    margin-top: 0px;
    margin-bottom: 200px;
}